# IDE
.idea/

# Python
__pycache__/
*.pyc

# Pipeline outputs
mucinet-results/
/model_training/check_batch.png
/model_training/curated_data/
/model_training/curated_data/
/model_training/wandb/
/model_training/python
/model_training/lean_best.pth
